
.home__nft-text {
    padding-top: 50px;
}

.home__nft__text-inner {
    font-family: 'Montserrat-B';
    font-size: 47px;
}

.trending__nfts-wrapper {
    text-align: center;
    padding-top: 50px;
}

.trending__nfts-inner {
    font-family: 'Montserrat-B';
    font-size: 40px;
}

.home__nft__trending__text-item {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending__coins-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.span__current-word {
    background: var(--gradient-text-ease);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home__nft-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* INPUT */

.input__wrapper {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(230 155 244), rgb(75 209 195));
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.input-inner {
    cursor: pointer;
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 18px;
    background: none;
}

.input__item__img-inner {
    width: 30px;
}

/* CARD */

.home__nft__card-wrapper {
    display: flex;
    flex-direction: column;
}

.home__nft__two-card {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 35px;
}

.home__nft__three-card {
    display: flex;
    justify-content: space-between;
}

.home__nft__wrapper__last__img {
    display: flex;
    gap: 40px;
}

.home__nft__img-class {
    border-radius: 10px;
    border-radius: 10px;
}

.wrapper__card {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.wrapper__card:hover {
    transform: scale(1.04);
}

.card__text-wrapper {
    position: absolute;
    bottom: 20px;
    left: 31%;
}

.card__text-class {
    font-family: 'Montserrat-B';
    font-size: 26px;
    background: linear-gradient(90deg, rgb(230 155 243), rgb(75 209 195));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home__nft__text-item {
    text-align: center;
}

/* SWIPER */

.swiper {
  width: 900px;
  height: 480px;
  padding-bottom: 35px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
    display: block;
    width: 860px; /* 600 x 326 */
    height: 430px;
    object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}


/* Adaptive */

@media screen and (max-width: 940px) {
    .swiper-slide img {
        width: 600px;
        height: 326px;
    }
}
