

.launch__input-wrapper {
    display: flex;
    align-items: center;
    background: #252525;
    width: 298px;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    gap: 18px;
}

.launch__input-inner {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    height: 30px;
}

.launch__input__img-inner {
    width: 30px;
}