

.swap__buttons-wrapper {
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #1b1b1b;
    width: 494px;
    height: 83px;
    border-radius: 20px;
}

.swap__buttons__wrapper-back {
    display: flex;
    justify-content: center;
}

.swap__buttons-inner {
    width: 130px;
    height: 40px;
    font-size: 23px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(229 158 241 / 41%), rgb(121 237 224 / 37%));
}

.swap__buttons-inner:hover {
    background: var(--gradient-text-ease);
}