
.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop__menu-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 7px;
    right: 52%;
    background: #000000;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
}

.drop__menu-item {
    font-family: 'Fira';
}

.header__nav-list {
    position: relative;
    display: flex;
    gap: 20px;
}

.header__nav-item {
    font-family: 'Fira';
    color: rgb(244 113 49);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.header__nav-item:hover {
    color: rgba(244, 114, 49, 0.735);
}

.header__wallet__text-item {
    font-family: 'Fira';
    color: #fff;
}

.header__circle__money-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo__loop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__wallet-wrapper {
    display: flex;
    align-items: center;
    padding: 3px 6px 3px 4px;
    border-radius: 20px;
    background: rgb(19 34 63);
    gap: 20px;
}

.header__loop {
    cursor: pointer;
}

.header__loop-item {
    width: 24px;
}

.header__circle-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(254 185 0), rgb(100 255 100));
    transition: all 0.2s ease-in-out;
}

.header__circle-item:hover {
    background: linear-gradient(90deg, rgba(254, 186, 0, 0.788), rgba(100, 255, 100, 0.784));
    width: 42px;
    height: 42px;
}

.header__wallet-img {
    padding-top: 2px;
    width: 40px;
}

.header__logo-item {
    width: 70px;
}

.header__border {
    width: 100%;
    border-bottom: 1px solid #454545;
    padding-top: 12px;
}

/* Adaptive */

@media screen and (max-width: 940px) {
    .header__logo-item  {
        width: 160px;
    }
        .header__loop-item {
            width: 70px;
        }
}

.burger-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 55px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 20;
}

.burger {
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-img.open .burger:nth-child(1) {
    transform: rotate(43deg) translateY(36px) translateX(26px);
}

.burger-img.open .burger:nth-child(2) {
    opacity: 0;
}

.burger-img.open .burger:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}


.header__nav__list-mobile {
    /* position: absolute; */
    flex-direction: column;
}

.header__mobile-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    background: #000;
    width: 100%;
    height: 100vh;
    z-index: 10;
    left: 0;
    justify-content: center;
    align-items: center;
    top: 0;
}

.header__circle__money-mobile {
    padding-top: 40px;
}

.header__nav__item-mobile {
    font-size: 42px;
}
