
.collection__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.connection__wrapper-scroll {
    display: flex;
    max-width: 726px;
    overflow: auto;
}

.collection__text-wrapper {
    width: 80px;
}

.collection-number {
    font-family: 'Fira';
    color: #fff;
}

.collection-text {
    font-family: 'Fira';
    background: var(--gradient-text-ease);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.collection-title {
    padding: 100px 0 40px 0;
    text-align: center;
}

.collection__title-item {
    font-size: 35px;
    font-family: 'Montserrat-B';
    background: var(--main-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.collection__items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0 3px 10px;
    gap: 25px;
    width: 229px;
    border-radius: 20px;
    transition: all 0.3s ease-in;
}

.collection__items-wrapper:hover {
    background: #aaaaaa67;
}

.collection-img {
    border-radius: 20px;
    width: 80px;
}